body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.modal {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    z-index: 100;
    opacity: 0.8;
    filter: alpha(opacity=60);
    -moz-opacity: 0.8;
    min-height: 100%;
}

#divImage {
    display: none;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    background-color: White;
    /*height: 550px;
    width: 600px;*/
    padding: 3px;
    border: solid 1px black;
}
